@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Poppins", "Roboto", Arial, sans-serif;
}

@property --hue {
  syntax: "<angle>";
  inherits: true;
  initial-value: 180deg;
}

@keyframes rotateHue {
  0% {
    --hue: 180deg;
  }
  25% {
    --hue: 360deg;
  }
  100% {
    --hue: 180deg;
  }
}

select {
  appearance: none;
  @supports (appearance: base-select) {
    &,
    &::picker(select) {
      appearance: base-select;
      animation: rotateHue 10s infinite;
    }
  }
  margin-bottom: 20px;
}

select {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-items: center;
  color: black;
  padding-block: 10px;
  padding-inline: 20px 30px;
  border-radius: 15px;
  border: 2px solid #0c4eb0;
  cursor: pointer;
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A")
    right 15px center / 20px no-repeat;

  @supports (appearance: base-select) {
    padding-inline: 20px;
    background-image: none; /* Remove original arrow option */
    img {
      width: 30px;
      line-height: 1;
    }
    &::picker-icon {
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
      transition: rotate 0.2s ease-out;
    }
    &:open::picker-icon {
      rotate: 180deg;
    }
    &::picker(select) {
      padding: 0;
      margin-top: 5px;
      border: 4px solid #1D201D;
      background: #C7CCC7;
      border-radius: 10px;
      font-weight: semi-bold;
      opacity: 0;
      height: 0;
      overflow: clip;
      transition: height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s,
        display 0.5s;
      transition-behavior: allow-discrete;
    }
    &:open::picker(select) {
      opacity: 1;
      height: calc-size(auto, size);
      overflow: auto;
      @starting-style {
        opacity: 0;
        height: 0;
      }
    }
    option {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      gap: 10px;
      border-top: 1px solid #444;
      &:where(:hover, :focus, :active) {
        background: #4B534B;
        color: white;
        font-weight: bold;
      }
      &:checked {
        background: white;
        color: black;
        font-weight: bold;
      }
      &::checkmark {
        display: none; /* Remove original active option */
      }
    }
    selectedcontent {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
main {
    display: flex;
    align-items: start;
    width: 70vw;
    background-color: #e7ebf3;
    border-radius: 10px;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

button {
  border: none;
  padding: 10px;
  background-color: #0d6efd;
  border-radius: 10px;
  color: white;
}

button:hover {
  background-color: #0b5ed7;
}

label {
  margin-bottom: 5px;
  
}

.result {
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #0bb682;
  color: white;
}